doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title VMOL

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body
    

    article

      section
        <img src="img/logo mikroskil.png"height="100px"></img>
        h2 STMIK MIKROSKIL
        <h4 style="padding-top:30px"> Dosen Pembimbing : Hardy Huang
        <h4 style="padding-top:20px">
        h4 Nama Kelompok : +1 Ironwood Branch
      section
        <h3 style="color:darkred"> Anggota Kelompok :
        h4 Michael (121110804)
        h4 Jansen (121110791)
        h4 Christian Yaputra (121111478)
        h4 Kelvin Hermawan (121110782)

      section
        h1 VMOL 
        <h4>(e-Video Mail OnLine)</h4>
      section
        <h2 style="color:darkred"> Apa itu VMOL?</h2>
        ul
          li 
          li Sebuah Aplikasi pengiriman Surat/Kartu/Undangan/Advertising disertai Video berbasis Online/Mobile
          li Sebuah Generasi tren masa kini dalam pembuatan surat/kartu/undangan/Advertising

      section
        <h2 style="color:darkred"> Sejarah VMOL</h2>
        ul
          li
          li Dibangun oleh 2 orang : Michael(Founder) dan Septian Rahman(Co-Founder)
          li Ditemukan saat sedang berdiskusi mengenai project kolaborasi
          li Awalnya, direncanakan akan membuat Forum dengan Engine Chatting Online

      section
        <h2 style="color:darkred"> Mengenal VMOL</h2>
        ul
          li
          li 1. Setiap User yang merupakan member VMOL akan terbagi menjadi 2 : <b>Paid User & Free User</b>
          ul
            li Free User : format dan template design yang terbatas serta adanya pembatasan / limit terhadap jumlah kartu yang dapat dikirim (maksimal 50)
            li Paid User : format dan template design yang banyak serta tidak ada pembatasan / unlimitted terhadap jumlah kartu yang dapat dikirim
          li 2. User akan diberikan pilihan untuk mau atau tidak menambahkan video ke dalam design mereka

      section
        <h2 style="color:darkred"> Lanjutan...</h2>
        ul
          li
          li 3. Untuk video juga terdapat pembagian pada tiap user:
            ul
              li Paid User : Limit Durasi Video tidak ada, Limit Size Upload Video tidak ada, Format Video Bebas
              li Free User : Limit Durasi Video 5 menit, Limit Size Upload Video 25 MB, Format Video Bebas
          li 4. Semua User diberikan fasilitas Chatting Online, Integrasi dengan Social App lain seperti : Instagram, Facebook, Twitter, dll
          li 5. Paid User juga diberikan layanan untuk merekam percakapan dari video call (contoh : Skype) dan menguploadnya ke VMOL
      
      section
        <h2 style="color:darkred"> Kelebihan VMOL</h2>
        ul
          li
          li Efisien
          li Harga Ekonomis
          li Modern-Fashion Design Interface
          li Memperluas Jaringan Sosial
          li Terobosan Baru Social Media

      section
        <h2 style="color:darkred"> Mengapa Efisien?</h2>
        ul
          li
          li Tidak perlu keahlian khusus dalam mengoperasikannya
          li Tersedia e-book cara penggunaan VMOL baik untuk free user maupun paid user
          li Mempermudah koneksi antar pengguna
      section
        <h2 style="color:darkred"> Mengapa disebut Harga Ekonomis?</h2>
        ul
          li
          li Harga yang cukup terjangkau dimana < 500 ribu (per bulan)
          li Discount bagi user lama (dalam hal perpanjangan account)
          li Discount bagi user yang merekomendasikan VMOL kepada teman
          li Discount bagi user yang langsung memperpanjang account selama 1 tahun
          li Pembayaran bisa menggunakan PayPal, BitCoin, Visa, MasterCard.
      
      section
        <h2 style="color:darkred"> Mengapa dapat Memperluas Jaringan Sosial?</h2>
        ul
          li
          li Melalui video, orang akan lebih mudah mengenali orang lain dibandingkan dengan melihat gambar atau profile picture
          li Melalui video juga, dapat mengetahui orang yang memiliki hobi yang sama sehingga dapat tercipta suatu komunitas / kumpulan orang-orang yang memiliki hobi yang sama
          li Adanya fasilitas chatting online sehingga user dapat lebih mengenal satu sama lain

      section
        <h2 style="color:darkred"> Mengapa disebut Terobosan Baru Social Media?</h2>
        ul
          li
          li Interaksi di social media pada umumnya masih menggunakan media text maupun foto (media video masih jarang)
          li Video merupakan media yang lebih lengkap karena terdiri dari suara, gambar, dan tulisan

      section
        <h2 style="color:darkred"> Perbandingan VMOL dengan Aplikasi Lain</h2>
        ul
          li
          li New user dapat langsung memakainya (menjadi free user) dimana pada aplikasi lain, new user hanya dapat memakainya pada masa trial (terbatas)
          li Menyediakan layanan yang sangat memuaskan bahkan untuk free user sekalipun
          li Harga paid user yang terjangkau dibandingkan aplikasi lain (tersedia dalam weekly, monthly, yearly)
          li Customer service 24 jam yang siap melayani pertanyaan, keluhan maupun saran dari user

      section
        <h2 style="color:darkred"> ANY QUESTION?

      section
        h1 THANK YOU!!

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild